@use '../var';

.button{
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;

    &--primary{
        color: var.$textcolor;
        background-color: var.$buttoncolorprimary;
    }

    @media(max-width:640px){
        display: block;
        width:100%;
    }

    @media(max-width:1024px){
        display: flex;
        align-items: center;
    }
}

